.footer{
    margin-top: 120px;
    border-top: 0.7px solid rgba(66, 66, 66,0.1);
    background-color: #FBFBFB;
}

.footer-top{
    display: flex;
    justify-content: space-evenly;
    padding: 40px;
}

.footer-top h1{
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 10px;
}

.footer-top p{
    opacity: 0.7;
}

.footer-logo{
    margin-top: 16px;
}
.footer-logo img{
    margin-bottom: 10px;
}

.footer-logo-icons-up{
    display: flex;
    gap : 20px;
    margin-top: 14px;
    border-bottom: 0.1px solid rgb(128, 128, 128,0.3);
    padding-bottom: 20px;
}

.footer-logo-icons-down{
    display: flex;
    gap : 20px;
    margin-top: 20px;
}

.footer-logo-icons-up,.footer-logo-icons-down{
    font-size: 18px;
    opacity: 0.5;
}

.footer-top{
    line-height: 40px;
}


.footer-bottom{
    display: flex;
    flex-direction: column;
    gap : 12px;
    padding: 0 80px;
    line-height: 18px;
    font-size: 12px;
    margin-top: 18px;
    margin-bottom: 15px;
}

.footer-bottom p{
    color: grey;
}

.footer-bottom-last ul{
    padding: 0 100px;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    font-size: larger;
    color: grey;
}

.footer-account p:hover{
    color : blue;
    cursor : pointer;
}

.footer-support p:hover{
    color : blue;
    cursor: pointer;
}
.footer-Company p:hover{
    color : blue;
    cursor: pointer;
}
.footer-quicklinks p:hover{
    color : blue;
    cursor: pointer;
}