.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding : 20px 80px;
    border-bottom: 0.5px solid rgba(128,128,128,0.3);
    position:sticky;
    background-color: white;
    z-index: 1000;
    top : 0;
}


.nav-logo{
    cursor: pointer;
}
.nav-links{
    display: flex;
    align-items: center;
    gap: 50px;
    font-size: 17px;    
}

.nav-links a{
    text-decoration: none;
    color : grey;
}

.nav-links a:hover{
    color : blue;
}
.hamburger-menu{
    font-size: 20px;
    cursor: pointer;
}

