.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding : 20px 80px;
    border-bottom: 0.5px solid rgba(128,128,128,0.3);
    position: sticky;
}


.nav-links{
    display: flex;
    align-items: center;
    gap: 50px;
    font-size: 17px;    
}

.nav-links a{
    text-decoration: none;
}

.hamburger-menu{
    font-size: 20px;
}

