.support-page{
    background-color: rgba(128,128,128,0.1);
    display: flex;
    flex-direction: column;
    padding: 50px 50px;
    margin-bottom: 40px;
}

.support-page-head{
    display: flex;
    align-items: center;
    justify-content: space-between ;
}

.support-page-input{
    background-color: white;
    gap : 15px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    padding: 0 30px;
    border: 1px solid rgba(128,128,128,0.9);
    height: 65px;
}

.support-page-input > input{
    width: 100%;
    font-size: 22px;
    outline: none;
    border: none;
}

.support-page-head>button{
    width: auto;
    padding: 12px 30px;
    font-size: 1rem;
    background-color: #387ED1;
    color : white;
    font-weight: bold;
    border: none;
    border-radius: 4px;
}