.signup-rank3{
    margin-top: 100px;
    padding-top: 50px;
    background-color: rgba(66, 66, 66,0.05);
}

.signup-rank3>h1{
    text-align: center;
    font-weight: 400;
}

.signup-rank3-bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    gap : 100px;
}
.signup-rank3-bottom > img{
    width: 500px;
}

.step1,.step2,.step3 {
    display: flex;
    gap : 25px;
    font-size: 22px;
    margin-bottom: 30px;
}

.step1>div,.step2>div,.step3>div{
    height: auto;
    width: 30px;
    border: 1px solid rgb(0, 0, 0,0.3);
    border-radius: 50%;
    text-align: center;
}

.account-steps p{
    padding: 2px 4px;
}

.step1,.step2{
    border-bottom: 1px solid rgb(0, 0, 0,0.1);
    padding-bottom: 18px;
}


