.signup-rank2{
    margin-top: 150px;
    padding: 0 30px;
}

.signup-rank2>h1{
    text-align: center;
    font-weight: 400;
    font-size: 28px;
    margin-bottom: 50px;
}

.signup-rank2-list{
    display: flex;
    gap : 100px;
    margin-top: 60px;
    justify-content: center;
    align-items: center;
    flex-wrap : wrap;
}

.signup-rank2-list-image1,.signup-rank2-list-image2,.signup-rank2-list-image3,.signup-rank2-list-image4{
    display: flex;
    gap : 20px
}

.signup-rank2-list h2{
    font-weight: 400;
}

.explore-btn{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.explore-investements{
    width: auto;
    padding: 12px 30px;
    font-size: 1.3rem;
    background-color: #387ED1;
    color : white;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    margin-top : 40px;
}