.signup-rank1-container{
    margin-top: 100px;
    padding: 0 100px;
}

.signup-rank1-container h1{
    text-align: center;
}

.signup-rank1-container > p{
    text-align: center;
}

.signup-rank1-container h1{
    margin-bottom: 20px;
    font-weight: 500;
}

.signup-rank1-container p{
    font-size: 20px;
    color: grey;
}


.signup-rank1-container-bottom{
    display: flex;
    justify-content: space-between;
    margin-top : 80px;
}

.signup-rank1-container-bottom img{
    width: 500px;
}

.signup-rank1-container-bottom-right{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap : 30px;
}

.phone-input{
    display: flex;
    align-items: center;
    border: 1px solid grey;
    overflow : hidden;
    width: 400px;
    height: 60px;
}

.country {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 0 12px;
  border-right: 1px solid #eee;
  background: #fafafa;
}

.country img {
  width: 20px;
  height: auto;
}
.phone-input input {
  flex: 1;
  border: none;
  outline: none;
  padding: 0 12px;
  font-size: 20px;
}

.signup-rank1-container-bottom-right h2{
    font-weight: 500;
}


.signup-rank1-container-bottom-right button{
    width: 250px;
    padding: 12px 30px;
    font-size: 1.3rem;
    background-color: #387ED1;
    color : white;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.signup-rank1-container-bottom-right button:hover{
    background-color: black;
}
