.left-image{
    display: flex;
    gap : 100px;
    align-items: center;
    margin-top: 80px;
}

.left-image img{
    width: 600px;
}

.left-image-right{
    display: flex;
    flex-direction: column;
    gap : 30px;
    line-height: 30px;
}

.left-image-right img{
    width: 100px;
}

.left-image-right-links a{
    text-decoration: none;
    margin-right: 20px;
}

.left-image-right-button img{
    margin-right: 20px;
}