.products{
    padding: 0 90px;
}

.products-top {
    text-align: center;
    margin-top : 80px;
    line-height: 45px;
    padding-bottom: 100px;
    border-bottom: 1px solid rgb(128, 128, 128,0.3);
}

.products-top h1{
    font-weight: 400;
}

.products-top > p{
    font-size: 20px;
}


.logo-below{
    display: flex;
    justify-content: center;
}
.products-page-btn{
    margin-top: 100px;
    width: auto;
    padding: 12px 30px;
    font-size: 1.3rem;
    background-color: #387ED1;
    color : white;
    font-weight: bold;
    border: none;
    border-radius: 4px;
}

.products-page-btn:hover{
    background-color: black;
}